<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Phone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>


    <script>
        $(document).ready(function () {

            $('#gameCanvas').nextAll().remove();

            $.connection.hub.start();
            var chat = $.connection.chatHub;

            function CallToServer() {
                chat.server.ballComing(ux*3, 3);
            }


            var WIDTH = window.innerWidth;
            var HEIGHT = window.innerHeight;

            var canvas = document.getElementById('gameCanvas');
            var ctx = canvas.getContext('2d');
            canvas.width = WIDTH;
            canvas.height = HEIGHT;
            ctx.fillStyle = "#fff";
            ctx.fillRect(0, 0, WIDTH, HEIGHT);

            var move = false;
            var mY = HEIGHT / 1.5;
            var mX = WIDTH / 2;
            var ux;

            var dx, dy;

            document.addEventListener("mousedown", function (e) {
                dx = e.pageX;
                dy = e.pageY;
            });

            document.addEventListener("mouseup", function (e) {
                move = true;
                ux = (e.pageX - dx) / Math.abs(dy - e.pageY);
            });

            var loop2;
            var img1 = new Image();
            img1.onload = function () {
                initSprites(this);
                run();
            }
            img1.src = '@Url.Content("~/Content/images/spritesheet.png")';

            var called = false;
            function update() {
                if (move) {
                    mY -= 3;
                    mX += 3 * ux;
                    if (mY < 10) {
                        if (!called) {
                            CallToServer();
                            called = true;
                        }
                        
                    }

                    //console.log(mY + " " + mX);
                }
            }

            function render() {
                ctx.fillRect(0, 0, WIDTH, HEIGHT);

                var x = 0;
                var y = 0;
                while (y < HEIGHT + grass.drawHeight) {
                    while (x < WIDTH + grass.drawWidth) {
                        grass.draw(ctx, x, y);
                        x += grass.drawWidth;
                    }
                    x = 0;
                    y += grass.drawHeight;
                }

                ball.draw(ctx, mX, mY);
            }

            function run() {
                loop = function () {
                    update();
                    render();
                    loop2 = window.requestAnimationFrame(loop, canvas);
                }
                window.requestAnimationFrame(loop, canvas);
            };
        });
    </script>
</head>
<body>

    <canvas id="gameCanvas"></canvas>
    <script src="~/js/sprites.js"></script>
</body>
</html>